<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
    </head>
    <body>
        <p id="msender" hidden><%= sender.user_id %></p>
        <p id="mreceiver" hidden><%= receiver.user_id %></p>
        <p id='sender_nick'>User: <%= sender.nickname %> </p>
        <p id='receiver_nick'>상대방: <%= receiver.nickname %></p>
        <form id='chat' action='/' method='POST'>
            메시지 전송: <input type='text' id='send_msg'>
            <input type='submit' value='Send'><br>
            파일 전송: <input id='sendfile' type='file' accept="image/png, image/jpg, image/jpeg, image/gif"><br>
            <a href="/chat_room/<%= sender.user_id %>">Go back</a><br>
        </form>
        <div style="overflow:scroll; width:500px; height:700px; border: 1px solid black;
        padding: 20px 20px 20px 20px;">
            <ul id="chat_log" style="list-style: none; overflow-y: auto;">
                <li style="text-align:center;">----Chatting with <%= receiver.nickname %>----</li>
                <% for(var i=0 ; i<msg_log.length; i++) { %>
                    <% if(msg_log[i].sender==sender.user_id) { %>
                        <li style="text-align:right;">
                            <% if(msg_log[i].msg_type=='media') { %>
                                <a href="/down_images/<%= msg_log[i].content %>" target="_blank">
                                    <img src="/down_images/<%= msg_log[i].content %>" width='100px' height='100px'>
                                </a>
                            <% } else { %> 
                                <%= msg_log[i].content %>
                            <% } %>  
                            <small>(<%= moment(msg_log[i].created_date).format('HH:mm') %>)</small>
                        </li>
                    <% } else { %>
                        <li style="text-align:left;">
                            <% if(msg_log[i].msg_type=='media') { %>
                                <a href="/down_images/<%= msg_log[i].content %>" target="_blank">
                                    <img src="/down_images/<%= msg_log[i].content %>" width='100px' height='100px'>
                                </a>
                            <% } else { %> 
                                <%= msg_log[i].content %>
                            <% } %>  
                            <small>(<%= moment(msg_log[i].created_date).format('HH:mm') %>)</small>
                        </li>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/socket.io-stream.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src='/js/chat_socket.js'></script>
    </body>
</html>